html {
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #6366f1;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* Ensure select caret does not overlap abbreviated month text in small widths */
.form-select.pe-4 {
  padding-right: 2.5rem !important; /* leave space for caret */
}